[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
py-cord = "==2.3.2"
steamquery = "==1.0.2"
marshmallow = "*"
marshmallow-dataclass = "*"
vrage-api = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
mypy = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
pytest = "*"
exceptiongroup = "*"

[scripts]
test = "python -m pytest --cov=app --cov-report=html"
